<div class="header">
  <a href="https://www.maryville.edu/" style="float:left; padding: 0">
    <img src="https://upload.wikimedia.org/wikipedia/en/thumb/6/6c/Maryville_University_logo.png/1024px-Maryville_University_logo.png"
      style="width:144px;height:43px;" />
  </a>
  <b style="float:left; padding: 0pt 0pt 0pt 0pt; color:whitesmoke; font-size: 30pt; font-style: italic"> Icanhandledadjoke API
  </b>

  <div style="float:right">
    <a href='index'>Get random joke
    </a>
    <a href='searchJoke'>Joke API </a>
    <a href='submitJoke'>Submit a joke
    </a>
    <a href='todoList'>React todoList
    </a>
  </div>
</div>