<!DOCTYPE html>
<html>

<head>
  <title>
    <%=title %>
  </title>
  <% include script.ejs %>
</head>

<header>
  <!--navigation bar -->
  <% include components/header.ejs %>
</header>

<body>


  <div class="container" style="height: 90vh">
    <div style="padding: 50pt">
      <h2> About the Project
      </h2>
      <p style="margin-top: 30pt;">Hello, this is Keith Nguyen. I am a CS student at UT Dallas. This website is created as a side project to practice MEAN, MERN and other stacks. Therefore, you will see a combination of different languages.
        We might at some point try to implement a full stack solution, depending on if we have time and whether we have man power to do so. 
      </p>
      <p style="margin-top: 30pt;">
        What we have done: <br>
        <ul>
          <li>ReactJS to access <a href="https://icanhazdadjoke.com/api">I can handle dad joke API</a></li>
          <li>ReactJS to-do list</li>
          <li>Express, EJS, ReactJS and NodeJs</li>
          <li>HTML (sorry, we don't have a designer for the colors and fonts but we do know CSS)</li>
        </ul>

        <br>Coming projects
        <ul>
          <li>Use Angular routing to display member details and resume</li>
          <li>Make the website look better with bootstrap</li>
          <li>Find project ideas in other languages</li>
          <li>Implement MongoDB for a full stack experience</li>
        </ul>
      </p>
    </div>
  </div>

</body>

<footer>
  <% include components/footer.ejs %>
</footer>

</html>