<!DOCTYPE html>
<html>

<head>
  <title>
    <%=title %>
  </title>
  <% include script.ejs %>
</head>

<body>
  <header>
    <!--navigation bar -->
    <% include components/header.ejs %>
  </header>
  <div class='container'>
    <div class='inner-content'>
      <h1>Contributors</h1>
      <div ng-app="contributorRouting" ng-controller="contributorController">
        <div ng-repeat="a in members">
          <p>
            <h2>{{a.name}}</h2>
          </p>
          <p>
            <a href="{{a.github}}">{{a.github}}</a>
          </p>
          <p>
            <a href="{{a.facebook}}">{{a.facebook}}</a>
          </p>
          <p>
            <a href="{{a.linkedin}}">{{a.linkedin}}</a>
          </p>
          <p>
            <a href="{{a.phone}}">{{a.phone}}</p>
          <p>
            <a href="mailto:{{a.email}}" data-rel="external">{{a.email}}</a>
          </p>
          <p>{{a.biography}}</p>

        </div>



      </div>
    </div>

    <script src="javascripts/contributorRouting.js"></script>
    <footer>
      <% include components/footer.ejs %>
    </footer>
</body>


</html>