<!DOCTYPE html>
<html>

<head>
  <title>
    <%=title %>
  </title>
  <% include script.ejs %>
</head>

<style>
  h1 {
    font-size: 26 pt;
  }

  p,
  a {
    font-size: 16 pt;
  }
</style>

<header>
  <!--navigation bar -->
  <% include components/header.ejs %>
</header>


<body>
    <p>
      Hung(Randy) Vuong
      <br> hungvuong816@gmail.com
      <br> cell: 469-358-9713
    </p>

    <p>
      Khoa(Keith) Nguyen
      <br> khoanguyen0791@gmail.com
      <br> cell: 660-998-3837
    </p>

    <p>
      Peter Tran
      <br> khoanguyen0791@gmail.com
      <br> cell: 469-693-0637
    </p>
</body>
<footer>
  <% include components/footer.ejs %>
</footer>

</html>