<!DOCTYPE html>
<html>

<head>
  <title>
    <%=title %>
  </title>
  <% include script.ejs %>
</head>

<body>
  <!--navigation bar -->
  <% include topnav.ejs %>

    <div class="container">
      <img src="https://image.ibb.co/mKDDaT/dad_jokes.png" style="width: 100%">

      <div class="container" style="height: 90vh;">

        <!--When clicking the button, it will make a call to the API and retreive a random joke-->
        <div style="margin-top: 30pt;">
          <h2> Load a New Random Joke
          </h2>
          <button type="button" onclick="getRandomJoke()"> Random Joke
          </button>
          <div style="margin-top: 15pt;">
            <b> Joke Id:
            </b>
            <a id="jokeId">
            </a>
          </div>
          <div style="margin-top: 15pt;">
            <aside id="jokeData">
            </aside>
          </div>

        </div>

        <!-- a list of the jokes received from the API-->
        <div style="margin-top: 30pt;">
          <p id="webLink">
          </p>
          <ul id="myList">
          </ul>
        </div>

      </div>

</body>

</html>