<!DOCTYPE html>
<html>

<head>
  <title>
    <%=title %>
  </title>
  <% include script.ejs %>

</head>

<body>
  <% include topnav.ejs %>

    <div class="container" style="height: 90vh;">
      <div id='searchJokeById' style="width: 600px; float: left; padding: 40pt"></div>
      <div style="float: right; padding: 40pt;">
        <img src="https://image1.masterfile.com/getImage/NjEyOC0wODczNzk4N2VuLjAwMDAwMDAw=AI7kSo/6128-08737987en_Masterfile.jpg">
      </div>
    </div>

    <div id='apiResponse'></div>
    <script src="javascripts/searchJokeById.jsx" type='text/babel'></script>
</body>

</html>