<!DOCTYPE html>
<html>

<head>
  <title>
    <%=title %>
  </title>
  <% include script.ejs %>
</head>

<body>
  <!--navigation bar -->
  <% include topnav.ejs %>
  
  <!--There isn't anything in the API to allow us to submit a joke, so I have embedded the original webpage to submit a joke using iframe-->
  <div class="container">
    <iframe src="https://icanhazdadjoke.com/submit">
      <p> Your browser does not support iframes. </p>
    </iframe>
  </div>

</body>

</html>