<!DOCTYPE html>
<html>

<head>
  <title>
    <%=title %>
  </title>
  <% include script.ejs %>
</head>

<header>
  <!--navigation bar -->
  <% include components/header.ejs %>
</header>

<body>
  <div class="container" style="height: 90vh;">
    <div id='searchJokeById' style="width: 600px; float: left; padding: 40pt">
      
      <div id='todoApp'>This is a todo list written in ReactJS</div>
      <script src='javascripts/todoApp/todoModel.jsx' type='text/babel'></script>
    </div>
    <div style="float: right; padding: 40pt;">
      <img src="https://image1.masterfile.com/getImage/NjEyOC0wODczNzk4N2VuLjAwMDAwMDAw=AI7kSo/6128-08737987en_Masterfile.jpg">
    </div>
  </div>

</body>

<footer>
  <% include components/footer.ejs %>
</footer>

</html>