<!DOCTYPE html>
<html>

<head>
  <title>
    <%=title %>
  </title>
  <% include script.ejs %>
</head>

<header>
  <!--navigation bar -->
  <% include components/header.ejs %>
</header>

<body>
  <div class="container" >
    <div id='searchJokeById' style="width: 600px; float: left; padding: 40pt">
      
      <div id='todoApp1'>This is a todo list written in ReactJS</div>
      <div id='todoApp2'>This is a todo list written in ReactJS</div>
      <script src='javascripts/todoApp/todoApp1.jsx' type='text/babel'></script>
      <script src='javascripts/todoApp/todoApp2.jsx' type='text/babel'></script>
    </div>
  </div>

</body>

<footer>
  <% include components/footer.ejs %>
</footer>

</html>